body {
    margin: 0px;
    /*overflow-y: hidden;*/
	background-color: black;
}

@font-face {
    font-family: CaviarDreams;
    src: url("./CaviarDreams.ttf") format("truetype");
}

.container img {
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
	opacity: 0;
	transition: opacity 1s;
}

.container {
    line-height: 0;
    column-gap: 5px;
}

#navcircle {
	position: fixed;
	width: 50px;
	height: 50px;
	left: -4px;
	top: -4px;
	border: 2px solid black;
	border-left: 2px solid white;
	background-color: white;
	transition: 0.3s;
	cursor: pointer;
	filter: invert(1);
	z-index: 80;
}

#navcircle:hover {
	transform: rotate(45deg) scale(1.3);
}

#navcircle img {
	width: 40px;
	position: absolute;
	top: 5px;
	left: 5px;
	transition: 0.3s;
}

#navcircle:hover img {
	transform: rotate(-45deg) scale(0.85);
}

#nav-black {
	position: fixed;
	opacity: 0;
	width: 100%;
	height: 100vh;
	top: 0px;
	left: 0px;
	background-color: black;
	transition: opacity 0.3s;
	pointer-events: none;
}

#nav-container {
	position: fixed;
	width: 300px;
	height: 100vh;
	background-color: white;
	left: -300px;
	top: 0px;
	transition: left 0.6s;
	z-index: 81;
}

#count {
	position: absolute;
	bottom: 50px;
	display: block;
	margin: 10px;
	text-align: center;
	width: 100%;
}

#loadimg {
	display: none;
	animation: rotate 6s linear infinite;
}

@keyframes rotate {
	0% {transform: rotate(0deg)}
	100% {transform: rotate(359deg)}
}

.slidecontainer {
	width: 80%;
	margin-left: 10%;
	position: absolute;
	bottom: 100px;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 5px;
	background-color: rgb(150,150,150);
	outline: none;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: black;
	cursor: pointer;
	outline: none;
	border-radius: 0px;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background: black;
	cursor: pointer;
	border-radius: 0px;
}

#loader {
	outline: none;
	border: 2px solid white;
	font-size: 1.5em;
	position: fixed;
	width: 200px;
	left: calc(50% - 100px);
	line-height: 50px;
	top: calc(50vh - 25px);
	background-color: black;
	color: white;
	cursor: pointer;
	transition: opacity 0.3s;
}

#loader:hover {
	top: calc(50vh - 20px);
}

#nav-container button {
	outline: none;
	display: block;
	width: calc(100% - 20px);
	text-align: center;
	background-color: white;
	border: none;
	cursor: pointer;
	text-decoration: none;
	font-size: 1em;
	margin: 10px;
}

#nav-container button {
	text-decoration: underline;
}

#popupbacking {
	position: fixed;
	opacity: 0;
	width: 100%;
	height: 100vh;
	top: 0px;
	left: 0px;
	background-color: black;
	transition: opacity 0.3s;
	pointer-events: none;
	z-index: 82;
}

#popup {
	position: fixed;
	width: 80%;
	height: 80vh;
	top: 10vh;
	left: 10%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	line-height: 80vh;
	background-image: url('https://www.trafficnz.info/camera/306.jpg?t=1583141560770');
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
	z-index: 83;
}